@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background: url(../../../public/images/background.png);
  background-size: cover;
  background-position: center;
}

.main {
  height: 90vh;
  margin: 10vh;
}

.header {
  height: 150px;
  text-align: center;
}

.headerText {
  margin: 0;
  padding: 0;
  color: #fff;
  padding-top: 30px;
}

.body {
  margin: auto;
  max-width: 980px;
  margin-bottom: 50px;
}
