
.info-container {
  backdrop-filter: blur(20px);
  border: 1px solid rgb(119, 119, 119);
  border-radius: 10px;
  padding: 20px;
  margin-top: -40px;
  display: flex;
  align-items: center;
}

.monthArea {
  flex: 1;
  display: flex;
  align-items: center;
}

.monthArrow {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  
}

.monthTitle {
  flex: 1;
  text-align: center;
  color: white;
}

.resumeArea {
  display: flex;
  flex: 2;
}
