

.form-container {
  backdrop-filter: blur(20px);
  border: 0.5px solid rgb(119, 119, 119);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.inputLabel {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.inputTitle {
  margin-bottom: 5px;
  color: white;
}

.inputs {
  background-color: rgba(255, 255, 255, 0.488);
  border-radius: 5px;
}

.select {
  width: 100%;
  padding: 0 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.488);
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}